<div class="index_container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <div class="links_to">
    <a href="/drones/">See all drones</a>
    <a href="/drones/create">Create a new drone</a>
  </div>
</div>