<div class="drones_card_container">
  <h2>Create a new drone</h2>

  <form class="drone_create_container" action="/drones/create" method="post">

    <label for="name-input">Drone name: </label>
    <input type="text" name="name" id="name-input" />

    <label for="propellers-input">Number of propellers: </label>
    <input type="number" name="propellers" id="propellers-input" />

    <label for="speed-input">MaxSpeed: </label>
    <input type="number" name="maxSpeed" id="maxSpeed-input" />

    <button class="btn" type="submit">Create</button>

    <a class="btn" href="/">Back</a>

  </form>
</div>