<div class="drones_view_container">

  <h2>Available drones</h2>

  <div class="drones_card_container">
    {{#each drones}}
    <ul>
      <h3> Drone name: {{this.name}}</h3>
      <h3> Number of propellers: {{this.propellers}}</h3>
      <h3> MaxSpeed: {{this.speed}}</h3>
      <br>
    </ul>
    {{/each}}
  </div>
</div>