<div class="drones_card_container">

  <h2>Update the drone</h2>

  <form action="/drones/{{drone.id}}/edit" method="post">

    <label>Drone name: </label>
    <input type="text" name="name" value="{{drone.name}}" />

    <label>Number of propellers: </label>
    <input type="number" name="propellers" value="{{drone.propellers}}" />

    <label>MaxSpeed: </label>
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}" />

    <button class="btn" type="submit">Edit</button>

    <a class="btn" href="/">Back</a>

  </form>
</div>